<<<<<<< HEAD
=======

>>>>>>> 00e5df6b5bcdcc06bc80dcdcb02fd4385349b4c0
.parent {
    -fx-background-color: #FFB7CE


}
.sidebar {
    -fx-background-color: gray
}
.bt {
    -fx-background-color:#FFB7CE;
}
.bt:hover {
    -fx-background-color: #C68EA0; 
}
.box {   
}